[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pytz = "*"
python-dotenv = "*"
django-phonenumber-field = "*"

[dev-packages]

[requires]
python_version = "3.9"
